﻿@model List<Apex.Models.Central.ClaimsSubclass>

<h3>Manage Menu Classes</h3>
<div id="manageSubclasses">
    <div class="container padded">
        <div class="ui grid padded">
            <div class="three wide column">
                <div class="segmentheader">Categories</div>
                <div class="ui raised segment nopadding">
                    <div id="selectSubclassWrap" class="item selectclass">
                        <div class="menu selectable">
                            @foreach (var sub in Model)
                            {
                                <a class="item" data-val="@sub.Id">@sub.SubclassName</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="thirteen wide column">
                <div class="updatecats ui grid"></div>
            </div>
        </div>
    </div>   
</div>

@section scripts
{
    <script src="/scripts/UserManagement/ManageSubclasses.js"></script>   
}
