﻿@using Apex.Helpers
@model Apex.ViewModels.EditSubclass

<div class="six wide column">
    <div class="segmentheader">Unselected Actions</div>
    <div class="ui vertical menu">
        <div class="item searchbox">
            <div class="ui input">
                <input type="text" class="searchinput" placeholder="Search...">
            </div>
        </div>
        <div class="item addaction">
            <div class="menu selectable">
                @foreach (var action in Model.UnSelectedClaims)
                {
                    <a class="item" data-val="@(action.Controller)/@(action.Action)">@action.Action.SplitCamelCase()</a>
                }
            </div>
        </div>
    </div>
    <div class="button ui centered teal selectall">Select All</div>
</div>
<div class="three wide center middle aligned column text-centered">
    <div class="ui vertical buttons">
        <div id="addSubclassActionBtn" data-id="@Model.Id" class="button disabled primary ui space spacedownm">Add</div>
        <div id="removeSubclassActionBtn" data-id="@Model.Id" class="button disabled red ui">Remove</div>
    </div>
</div>
<div class="six wide column">
    <div class="segmentheader">Selected Actions</div>
    <div class="ui vertical menu">
        <div class="item searchbox">
            <div class="ui input">
                <input type="text" class="searchinput" placeholder="Search...">
            </div>
        </div>
        <div class="item removeaction">
            <div class="menu selectable">
                @foreach (var action in Model.SelectedClaims)
                {
                    <a class="item" data-val="@(action.Controller)/@(action.Action)">@action.Action.SplitCamelCase()</a>
                }
            </div>
        </div>               
    </div>
    <div class="button ui centered teal removeall">Select All</div>
</div>
