﻿@model Apex.Models.Central.ApplicationUser

<div class="container">
    <div class="grid">
        <div class="column">
            <h2>Update Personal Details</h2>
            @using (Html.BeginForm("UpdatePersonalDetails", "UserManagement", FormMethod.Post, new {@class = "ui large form", id = "personalDetails"}))
            {
                @Html.HiddenFor(x => x.Id)
                <div class="ui segment">
                    <div class="field">
                        <label>Username</label>
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.UserName, new {placeholder = "Username", Name = "username", id = "username"})
                        </div>
                    </div>
                    <div class="field">
                        <label>Firstname</label>
                        <div class="ui left icon input disabled">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.FirstName, new {placeholder = "First name", Name = "firstname", id = "firstname"})
                        </div>
                    </div>
                    <div class="field">
                        <label>Surname</label>
                        <div class="ui left icon input disabled">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.Surname, new {placeholder = "Surname", name = "surname"})
                        </div>
                    </div>
                    <div class="field">
                        <label>Phone Number</label>
                        <div class="ui left icon input">
                            <i class="phone icon"></i>
                            @Html.TextBoxFor(x => x.PhoneNumber, new {placeholder = "Phone number", Name = "phonenumber"})
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Update</div>
                </div>

                <div class="ui success message">
                    <div class="header">Update Successful</div>
                </div>
                <div class="ui error message">
                    <div class="header">Update Failed. Please try again later</div>
                </div>
            }
        </div>
        
        <div class="ui hidden divider"></div>

        
        <div class="column">
            <h3>Change Password</h3>
            @using (Html.BeginForm("ChangePassword", "UserManagement", FormMethod.Post, new {@class = "ui large form", id = "changepassword"}))
            {
                @Html.HiddenFor(x => x.Id)
                <div class="ui segment">
                    <div class="field">
                        <label>Current Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.PasswordFor(x => x.CurrentPassword, new {placeholder = "Enter current Password", Name = "currentpassword"})
                        </div>
                    </div>
                    <div class="field">
                        <label>New Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.PasswordFor(x => x.NewPassword, new {placeholder = "Enter new password", Name = "newpassword"})
                        </div>
                    </div>
                    <div class="field">
                        <label>Confirm New Password</label>
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.PasswordFor(x => x.NewPasswordConfirm, new {placeholder = "Confirm new password", Name = "newpasswordconfirm"})
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Update</div>
                </div>

                <div class="ui success message">
                    <div class="header">Password successfully changed</div>
                </div>
                <div class="ui error message">
                    <div class="header">Invalid details entered</div>
                </div>
            }
        </div>
    </div>
</div>