﻿@using Apex.Extensions
@using Apex.Helpers
@model Apex.ViewModels.MemberBranch

<div class="six wide column">
    <div class="segmentheader">Unselected Branches</div>
    <div class="ui vertical menu">
        <div class="item searchbox">
            <div class="ui input">
                <input type="text" class="searchinput" placeholder="Search...">
            </div>
        </div>
        <div class="item addaction">
            <div class="menu selectable">
                @foreach (var branch in Model.UnSelectedBranches)
                {
                    <a class="item" data-val="@(branch.BranchCode)">@branch.BranchName.ToTitleCase()</a>
                }
            </div>
        </div>
    </div>
    <div class="button ui centered teal selectall">Select All</div>
</div>
<div class="three wide center margintop85 aligned column text-centered">
    <div class="ui vertical buttons">
        <div id="addBranchActionBtn" data-id="@Model.MemberId" class="button disabled primary ui space spacedownm">Add</div>
        <div id="removeBranchActionBtn" data-id="@Model.MemberId" class="button disabled red ui">Remove</div>
    </div>
</div>
<div class="six wide column">
    <div class="segmentheader">Selected Branches</div>
    <div class="ui vertical menu">
        <div class="item searchbox">
            <div class="ui input">
                <input type="text" class="searchinput" placeholder="Search...">
            </div>
        </div>
        <div class="item removeaction">
            <div class="menu selectable">
                @foreach (var branch in Model.SelectedBranches)
                {
                    <a class="item" data-val="@(branch.BranchCode)">@branch.BranchName.ToTitleCase()</a>
                }
            </div>
        </div>
    </div>
    <div class="button ui centered teal removeall">Select All</div>
</div>
