﻿@model List<Apex.Models.Central.ApplicationUser>

<h3>Restrict User To Branch</h3>
<div id="manageSubclasses">
    <div class="container padded">
        <div class="ui grid padded">
            <div class="three wide column">
                <div class="segmentheader">Select a User</div>
                <div class="ui raised segment nopadding">
                    <div id="selectBranchWrap" class="item selectclass">
                        <div class="menu selectable">
                            @foreach (var member in Model)
                            {
                                <a class="item" data-val="@member.Id">@member.GetFullName()</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="thirteen wide column">
                <div class="updatecats ui grid"></div>
            </div>
        </div>
    </div>
</div>
