﻿@using Apex.Extensions
@model Apex.ViewModels.ViewAudits

<div class="container">
    <div class="grid">
        <div class="column wider">
            <h3>Audit Trails</h3>
            <div class="searchaudit ui toggle checkbox">
                <input type="checkbox" name="public">
                <label>Narrow my search</label>
            </div>
            <div class="dontshow auditsearch">
                <form id="auditSearchForm">
                    @Html.Hidden("perpage")
                    <div class="ui segment grid">
                        <div class="column wider">
                            <table class="ui definition table">
                                <tbody>
                                <tr>
                                    <td class="four wide column">Search by Form No</td>
                                    <td class="clearable">
                                        <div class="ui input fluid">
                                            @Html.TextBoxFor(x => x.FormNo, new {placeholder = "Enter Form Number"})
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="four wide column">Search by Doc No</td>
                                    <td class="clearable">
                                        <div class="ui input fluid">
                                            @Html.TextBoxFor(x => x.DocNo, new {placeholder = "Enter Doc Number"})
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="four wide column">Search Name</td>
                                    <td class="clearable">
                                        <select id="SearchUser" name="searchuser" class="ui search dropdown fluid">
                                            <option value="">Select User</option>
                                            @foreach (var user in Model.UserList)
                                            {
                                                <option value="@user.Id">@user.FirstName.ToTitleCase() @user.Surname.ToTitleCase()</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Search by Action</td>
                                    <td class="clearable">
                                        <div class="ui multiple search selection dropdown fluid">
                                            <input id="searchaction" name="searchaction" type="hidden">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">Select Action</div>
                                            <div class="menu">
                                                @foreach (var action in Model.ActionsList.OrderBy(x => x))
                                                {
                                                    <div class="item" data-value="@action">@action</div>
                                                }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Search by Date</td>
                                    <td class="clearable">
                                        <div class="ui form">
                                            <div class="two fields">
                                                <div class="field">
                                                    <label>Start date</label>
                                                    <div class="ui calendar" id="rangestart">
                                                        <div class="ui input left icon">
                                                            <i class="calendar icon"></i>
                                                            @Html.TextBoxFor(x => x.SearchStartDate, new
                                                            {
                                                                placeholder = "From",
                                                                Value = string.IsNullOrEmpty(Model.SearchStartDate) ? "" : DateTime.Parse(Model.SearchStartDate).ToString("dd/MMM/yyyy"),
                                                                Name = "SearchStartDate"
                                                            })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label>End date</label>
                                                    <div class="ui calendar" id="rangeend">
                                                        <div class="ui input left icon">
                                                            <i class="calendar icon"></i>
                                                            @Html.TextBoxFor(x => x.SearchEndDate, new
                                                            {
                                                                placeholder = "To",
                                                                Value = string.IsNullOrEmpty(Model.SearchStartDate) ? "" : DateTime.Parse(Model.SearchStartDate).ToString("dd/MMM/yyyy"),
                                                                Name = "SearchEndDate"
                                                            })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div id="ClearAudit" class="ui button grey floatleft">Clear</div>
                                        <div id="SearchAudit" class="ui teal submit button floatright">Search</div>
                                        <div class="floatclear"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ui hidden divider"></div>
        </div>
    </div>
    
    <h3 class="totalrows floatleft">@Model.Total.ToString("N0") Records</h3>
    <div class="ui labeled icon button teal floatright printbutton" data-url="">
        <i class="print icon"></i>Print
    </div>
    <div class="ui labeled icon button teal floatright printbutton printpage">
        <i class="print icon"></i>Print Page
    </div>
    <span class="floatclear"></span>
    
    <table class="ui compact celled table highertable">
        <thead>
        <tr>
            <th class="three wide orderby" data-orderby="FirstName">Name</th>
            <th class="three wide orderby arrowdown" data-orderby="TimeStamp">Date</th>
            <th class="three wide orderby" data-orderby="EventName">Action</th>
            <th class="seven wide orderby" data-orderby="Description">Description</th>
        </tr>
        </thead>
    </table> 
    <div id="auditSearchResults">
        @Html.Partial("_ViewAuditTrailsResult")
    </div>
</div>

