﻿@model Apex.ViewModels.ViewAudits
@using Apex.Extensions
@using X.PagedList.Mvc

@Html.HiddenFor(x => x.OrderBy)
@Html.HiddenFor(x => x.NumberPerPage)
@Html.HiddenFor(x => x.CurrentPage)
@Html.Hidden("PageNumber", Model.Page.PageNumber)
@if (Model.IsPrint)
{
    <h3 class="totalrows floatleft">@Model.Title</h3>
    <span class="floatclear"></span>
}

<table class="ui compact celled table lowertable">
    <tbody>
        @foreach (var audit in Model.Page)
        {
            <tr>
                <td class="three wide">@(audit.User == null ? "" : audit.User.FirstName.ToTitleCase()) @(audit.User == null ? "" : audit.User.Surname.ToTitleCase())</td>
                <td class="three wide">@audit.TimeStamp.ToString("dd/MM/yy") @audit.TimeStamp.ToString("hh:mmtt").ToLower()</td>
                <td class="three wide">@audit.Event.Name</td>
                <td class="seven wide">@audit.Description</td>
            </tr>
        }
    </tbody>
    <tfoot>
    <tr>
        @if (Model.Audits.Count == 0)
        {
            <th colspan="4">
                <div class="nomsg">No results matching search</div>
            </th>
        }
        else
        {
            <th colspan="4">
                <div class="ui left floated">
                    @Html.PagedListPager(Model.Page, page => Url.Action("GetAuditTrailPage", new {page}), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
                <div class="ui floatright editfloat">
                    <select id="NumberPerPage" class="ui dropdown numberperpage">
                        <option  @(Model.NumberPerPage == 10 ? "selected" : "") value="10">10 per page</option>
                        <option  @(Model.NumberPerPage == 25 ? "selected" : "") value="25">25 per page</option>
                        <option  @(Model.NumberPerPage == 50 ? "selected" : "") value="50">50 per page</option>
                        <option  @(Model.NumberPerPage == 100 ? "selected" : "") value="100">100 per page</option>
                    </select>
                </div>
                <div class="clear"></div>
            </th>
        }
    </tr>
    </tfoot>
</table>