﻿@model Apex.ViewModels.Record

<div class="container">
    <div class="grid">
        <div class="column spacedownm">
            <h3>@Model.Title</h3>
            <div class="ui segment">
                <div id="searchbyform">
                    @Html.Partial("_SearchByFormNoXML")
                </div>
            </div>
        </div>
        <div class="column wider spacetopm">
            <div id="searchresults">
                    
            </div>
        </div>
    </div>
</div>