﻿@using Apex.Models.NGRICAO
@model Apex.ViewModels.Record

<div class="ui grid">
    @if (Model.Passport.LocDocHolderBioProfile != null)
    {
        <div class="eight wide column full">
            <h4 class="ui header tablehead">BioProfile Table</h4>
            <table class="ui table">
                <tbody>
                    <tr>
                        <td class="eight wide column">
                            <h4 class="text-centered">Photo</h4>
                            @if (string.IsNullOrEmpty(Model.FaceCurrentString))
                            {
                                <div class="noface">No Face Found</div>
                            }
                            else
                            {
                                <img class="image ui centered" src="@Model.FaceCurrentString" />
                            }

                            <h4 class="text-centered">Signature</h4>
                            @if (string.IsNullOrEmpty(Model.SignatureCurrentString))
                            {
                                <div class="nosig">No Signature Found</div>
                            }
                            else
                            {
                                <img class="image ui centered" src="@Model.SignatureCurrentString" />
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    
    @if (Model.Passport.LocDocHolderMainProfile != null)
    {
        <div class="eight wide column full">
            <h4 class="ui header tablehead">DocHolderMainProfile Table</h4>
            <table class="ui table definition">
                <tbody>
                @foreach (var prop in typeof(LocDocHolderMainProfile).GetProperties())
                {
                    if (prop.PropertyType.IsPrimitive || prop.PropertyType.IsValueType || (prop.PropertyType == typeof(string)))
                    {
                        <tr>
                            <td class="five wide column">@prop.Name</td>
                            @if (prop.PropertyType == typeof(DateTime) || prop.PropertyType == typeof(DateTime?))
                            {
                                if (prop.GetValue(Model.Passport.LocDocHolderMainProfile, null) == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@(DateTime.Parse(prop.GetValue(Model.Passport.LocDocHolderMainProfile, null).ToString()).ToString("dd/MM/yyyy"))</td>
                                }
                            }
                            else
                            {
                                <td>@(prop.GetValue(Model.Passport.LocDocHolderMainProfile, null))</td>
                            }
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }

    @if (Model.Passport.LocEnrolProfile != null)
    {
        <div class="eight wide column full">
            <h4 class="ui header tablehead">EnrolProfile Table</h4>
            <table class="ui table definition">
                <tbody>
                    @foreach (var prop in typeof(LocEnrolProfile).GetProperties())
                    {
                        if (prop.PropertyType.IsPrimitive || prop.PropertyType.IsValueType || (prop.PropertyType == typeof(string)))
                        {
                            <tr>
                                <td class="five wide column">@prop.Name</td>
                                @if (prop.PropertyType == typeof(DateTime) || prop.PropertyType == typeof(DateTime?))
                                {
                                    if (prop.GetValue(Model.Passport.LocEnrolProfile, null) == null)
                                    {
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>@(DateTime.Parse(prop.GetValue(Model.Passport.LocEnrolProfile, null).ToString()).ToString("dd/MM/yyyy"))</td>
                                    }
                                }
                                else
                                {
                                    <td>@(prop.GetValue(Model.Passport.LocEnrolProfile, null))</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    
    @if (Model.Passport.LocPaymentHistory != null)
    {
        <div class="eight wide column full">
            <h4 class="ui header tablehead">PaymentHistory Table</h4>
            <table class="ui table definition">
                <tbody>
                @foreach (var prop in typeof(LocPaymentHistory).GetProperties())
                {
                    if (prop.PropertyType.IsPrimitive || prop.PropertyType.IsValueType || (prop.PropertyType == typeof(string)))
                    {
                        <tr>
                            <td class="five wide column">@prop.Name</td>
                            @if (prop.PropertyType == typeof(DateTime) || prop.PropertyType == typeof(DateTime?))
                            {
                                if (prop.GetValue(Model.Passport.LocPaymentHistory, null) == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@(DateTime.Parse(prop.GetValue(Model.Passport.LocPaymentHistory, null).ToString()).ToString("dd/MM/yyyy"))</td>
                                }
                            }
                            else
                            {
                                <td>@(prop.GetValue(Model.Passport.LocPaymentHistory, null))</td>
                            }
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }
    
    @if (Model.Passport.LocDocHolderCustomProfile != null)
    {
        <div class="eight wide column full">
            <h4 class="ui header tablehead">DocHolderCustomProfile Table</h4>
            <table class="ui table definition">
                <tbody>
                @foreach (var prop in typeof(LocDocHolderCustomProfile).GetProperties())
                {
                    if (prop.PropertyType.IsPrimitive || prop.PropertyType.IsValueType || (prop.PropertyType == typeof(string)))
                    {
                        <tr>
                            <td class="five wide column">@prop.Name</td>
                            @if (prop.PropertyType == typeof(DateTime) || prop.PropertyType == typeof(DateTime?))
                            {
                                if (prop.GetValue(Model.Passport.LocDocHolderCustomProfile, null) == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@(DateTime.Parse(prop.GetValue(Model.Passport.LocDocHolderCustomProfile, null).ToString()).ToString("dd/MM/yyyy"))</td>
                                }
                            }
                            else
                            {
                                <td>@(prop.GetValue(Model.Passport.LocDocHolderCustomProfile, null))</td>
                            }
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }
</div>