﻿@model Apex.ViewModels.Record
    
<div class="ui segment" >
    @using (Html.BeginForm(Model.UpdateUrl, "Amu", FormMethod.Post, new { @class = "ui update form", id = "updateform" }))
    {
        @Html.HiddenFor(x => x.XmlFormNo)
        @Html.HiddenFor(x => x.BranchCode)
        @Html.HiddenFor(x => x.Xml)
        @Html.HiddenFor(x => x.Password)
        <div class="spacebottom">
            <div id="xmldocument"></div>
        </div>

        <div class="ui fluid large teal disabled submit button">@Model.UpdateMsg</div>

        <div class="ui success message">
            <div class="header">Update Successful</div>
        </div>
        <div class="ui error message">
            <div class="header">Update Failed. Please try again later</div>
        </div>
    }
</div>