﻿@model Apex.ViewModels.Record

<div class="container">
    <div class="grid">
        <div class="column">
            <h3>@Model.Title</h3>
            <div class="ui segment">
                <div id="searchbyform">
                    @Html.Partial("_SearchByFormNoBio")
                </div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="column biowide">
            <div id="searchresults">
                   
            </div>
        </div>
    </div>
</div>