﻿@using Apex.Helpers
@model Apex.ViewModels.Record

@using (Html.BeginForm(Model.UpdateUrl, "Amu", FormMethod.Post, new { @class = "ui update form", id = "updateform" }))
{
    @Html.HiddenFor(x => x.FormNo)
    @Html.HiddenFor(x => x.DocNo)
    @Html.HiddenFor(x => x.BranchCode, new { Value = Model.BranchCode})
    <div class="spacebottom">
        <table class="ui definition table">
            <tbody>
            <tr>
                <td>Form No</td>
                <td class="clearable">@Model.FormNo</td>
            </tr>
            <tr>
                <td>Surname</td>
                <td class="clearable">@Model.Surname</td>
            </tr>
            <tr>
                <td class="five wide column">First Name</td>
                <td class="clearable">@Model.FirstName</td>
            </tr>
            <tr>
                <td>Middle Name</td>
                <td class="clearable">@Model.MiddleName</td>
            </tr>
            @if (Model.ShowLocation)
            {
                if (Model.AllowEditLocation)
                {
                    <tr>
                        <td>Enrollocation Id</td>
                        <td>
                            <div class="field">
                                <div class="ui input disabled">
                                    @Html.TextBoxFor(x => x.LocationId, new {placeholder = "Location Id", name = "locationid", value = Model.LocationId == 0 ? "" : Model.LocationId.ToString()})
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Enrollocation Id</td>
                        <td class="clearable">@(Model.LocationId == 0 ? "" : Model.LocationId.ToString())</td>
                    </tr>
                }
            }

            @if (Model.ShowPersoLocation)
            {
                if (Model.AllowEditLocation)
                {
                    <tr>
                        <td>Persolocation Id</td>
                        <td>
                            <div class="field">
                                <div class="ui input disabled">
                                    @Html.TextBoxFor(x => x.PersoLocationId, new {placeholder = "Enter Reference Id", value = Model.PersoLocationId == 0 ? "" : Model.PersoLocationId.ToString(), name = "persolocationid"})
                                </div>
                            </div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>Persolocation Id</td>
                        <td class="clearable">@(Model.PersoLocationId == 0 ? "" : Model.PersoLocationId?.ToString())</td>
                    </tr>
                }
            }


            @if (Model.ShowStageCode)
            {
                <tr class="stagecodediv">
                    <td>Status (E)</td>
                    <td class="clearable">@(Helper.GetStageCodeDescription(Model.StageCode))</td>
                </tr>
            }


            @if (!string.IsNullOrEmpty(Model.DocNoTwo))
            {
                <tr>
                    <td>Booklet with Perso</td>
                    <td class="clearable">@Model.DocNoTwo</td>
                </tr>
                <tr class="stagecodediv">
                    <td>StageCode (D)</td>
                    <td class="clearable">@(Helper.GetStageCodeDescription(Model.DocTwoStageCode))</td>
                </tr>
            }

            @if (!string.IsNullOrEmpty(Model.PassportNo))
            {
                <tr>
                    <td>Booklet without Perso</td>
                    <td class="clearable">@Model.PassportNo</td>
                </tr>
                <tr class="stagecodediv">
                    <td>StageCode (D)</td>
                    <td class="clearable">@(Helper.GetStageCodeDescription(Model.DocStageCode2))</td>
                </tr>
            }



            @if (Model.ShowPersoStageCode)
            {
                <tr class="stagecodediv">
                    <td>Status (P)</td>
                    <td class="clearable">@(Helper.GetStageCodeDescription(Model.PersoProfileStageCode))</td>
                </tr>
            }

            @if (Model.ShowDocStageCode)
            {
                <tr class="stagecodediv">
                    <td>Status (D)</td>
                    <td class="clearable">@(Helper.GetStageCodeDescription(Model.DocProfileStageCode))</td>
                </tr>
            }

            @if (Model.ShowPassportNo)
            {
                <tr>
                    <td>Passport No</td>
                    <td class="clearable">@Model.PassportNo</td>
                </tr>
            }

            @if (Model.ShowPassportType)
            {
                <tr>
                    <td>Passport Type</td>
                    <td class="clearable">@Model.PassportType</td>
                </tr>
            }
            
            @if (Model.ShowRemark)
            {
                <tr>
                    <td>Remark</td>
                    <td class="clearable">
                        <div class="field">
                            <div class="ui input disabled">
                                @Html.TextAreaFor(x => x.Remark, new {placeholder = "Enter remark", name = "remark"})
                            </div>
                        </div>
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>

    <div class="ui fluid large teal disabled submit button">@Model.UpdateMsg</div>

    <div class="ui success message">
        <div class="header">Update Successful</div>
    </div>
    <div class="ui error message">
        <div class="header">Update Failed. Please try again later</div>
    </div>
}
