﻿@model Apex.ViewModels.Record

@using (Html.BeginForm(Model.UpdateUrl, "Amu", FormMethod.Post, new { @class = "ui update form", id = "updateform" }))
{
    @Html.HiddenFor(x => x.BranchCode)
    @Html.Hidden("Username", Model.LocUser.LoginName)
    @Html.Hidden("Disabled", Model.LocUser.Disabled ? 1 : 0)
    <div class="spacebottom">
        <table class="ui definition table">
            <tbody>
            <tr>
                <td class="five wide column">Login Name</td>
                <td class="clearable">@Model.LocUser.LoginName</td>
            </tr>
            <tr>
                <td>Full name</td>
                <td class="clearable">@Model.LocUser.FullName</td>
            </tr>
            <tr>
                <td>Password Expires</td>
                <td class="clearable">@Model.GetUserPasswordExpiry()</td>
            </tr>
            <tr>
                <td>Disabled</td>
                <td>
                    <div class="field">
                        <div class="ui disabled teal checkbox">
                            @Html.CheckBoxFor(x => x.LocUser.Disabled) <label></label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Extend expiry by</td>
                <td>
                    <div class="field">
                        <select id="ExtendBy" name="ExtendBy" class="ui disabled dropdown">
                            <option value="">Select time</option>
                            <option @(Model.ExtendBy == 1 ? "selected" : "") value="1">1 Month</option>
                            <option @(Model.ExtendBy == 3 ? "selected" : "") value="3">3 Months</option>
                            <option @(Model.ExtendBy == 6 ? "selected" : "") value="6">6 Months</option>
                            <option @(Model.ExtendBy == 12 ? "selected" : "") value="12">12 Months</option>
                        </select>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ui fluid large teal disabled submit button">@Model.UpdateMsg</div>

    <div class="ui success message">
        <div class="header">Update Successful</div>
    </div>
    <div class="ui error message">
        <div class="header">Update Failed. Please try again later</div>
    </div>
}
