﻿@model Apex.ViewModels.Record

@using (Html.BeginForm(Model.UpdateUrl, "Amu", FormMethod.Post, new { @class = "ui update form", id = "updateform" }))
{
    @Html.Hidden("Branch", Model.BranchCode, new { Name = "branchcode"})
    <div class="spacebottom">
        <table class="ui definition table">
            <tbody>
            <tr>
                <td>Select an XML file to upload</td>
                <td>
                    <div class="field">
                        <select id="SelectedXml" name="SelectedXml" class="ui disabled dropdown">
                            <option value="">Select DocNo range</option>
                            @foreach (var range in Model.PassportRanges)
                            {
                                <option value="@range">@range</option>
                            }
                        </select>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ui fluid large teal disabled submit button">@Model.UpdateMsg</div>

    <div class="ui success message">
        <div class="header">XML Data Uploaded Successfully</div>
    </div>
    <div class="ui error message">
        <div class="header">Update Failed and the error has been logged. Please try again.</div>
    </div>
}
