﻿@using Apex.Helpers
@model Apex.ViewModels.Record

@using (Html.BeginForm(Model.UpdateUrl, "Amu", FormMethod.Post, new { @class = "ui update form", id = "updateform" }))
{
    @Html.HiddenFor(x => x.PassportNo)
    @Html.HiddenFor(x => x.BranchCode)
    <div class="spacebottom">
        <table class="ui definition table">
            <tbody>
            <tr>
                <td class="five wide column">Doc No</td>
                <td class="clearable">@Model.PassportNo</td>
            </tr>
            @if (Model.ShowBoxSn)
            {
                <tr>
                    <td>Box Sn</td>
                    <td class="clearable">@Model.BoxSn</td>
                </tr>
            }
            @if (Model.ShowChipSn)
            {
                <tr>
                    <td>Chip Sn</td>
                    <td class="clearable">
                        @Html.TextBoxFor(x => x.ChipSn, new { Name = "ChipSn" })
                    </td>
                </tr>
            }
            <tr class="stagecodediv">
                <td>Status</td>
                <td class="clearable">@(Helper.GetStageCodeDescription(Model.StageCode))</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    if (Model.ShowUpdateButton)
    {
        <div class="ui fluid large teal disabled submit button">@Model.UpdateMsg</div>

        <div class="ui success message">
            <div class="header">Update Successful</div>
        </div>
        <div class="ui error message">
            <div class="header">Update Failed. Please try again later</div>
        </div>
    }
}
