﻿@model Apex.ViewModels.Record

<div class="container">
    <div class="grid">
        <div class="column">
            <h3>@Model.Title</h3>
            <div class="ui segment">
                <div>
                    @Html.Partial("_SearchByLocal")
                </div>
            </div>
        </div>
        <div>@Html.Partial("_TestData", Model.TestInfo)</div>
        <div id="searchresults">
                    
        </div>
    </div>
</div>