﻿@model List<Apex.ViewModels.LocalQuery>

<div class="ui hidden divider"></div>
<div class="ui segment">
    <table id="summaryTable" class="ui table">
        <thead>
        <tr>
            <th>Passport Number</th>
            <th>Form Number</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Surname</th>
            <th>StageCode (E)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var result in Model)
        {
                
            <tr class="viewtables">
                <td>@(result.DocProfile == null ? "" : result.DocProfile.Docno)</td>
                <td>@(result.EnrolProfile == null ? "" : result.EnrolProfile.Formno)</td>
                <td>@(result.DocHolderMainProfile == null ? "" : result.DocHolderMainProfile.Firstname)</td>
                <td>@(result.DocHolderCustomProfile == null ? "" : result.DocHolderCustomProfile.Othername1)</td>
                <td>@(result.DocHolderMainProfile == null ? "" : result.DocHolderMainProfile.Surname)</td>
                <td>@(result.EnrolProfile == null ? "" : result.EnrolProfile.Stagecode)</td>
                <td>
                    <div data-formno="@(result.EnrolProfile == null ? "" : result.EnrolProfile.Formno)" class="ui viewitem teal button">View</div>
                </td>
            </tr>
               
        }
        </tbody>
    </table>
</div>
<div class="ui segment dontshow" id="viewTableDetails">
    
</div>