﻿@model Apex.ViewModels.Record

@using (Html.BeginForm(Model.UpdateUrl, "Amu", FormMethod.Post, new { @class = "ui update form", id = "updateform" }))
{
    @Html.HiddenFor(x => x.FormNo)
    @Html.HiddenFor(x => x.SecondFormNo)
    @Html.HiddenFor(x => x.BranchCode)
    @Html.HiddenFor(x => x.Revert)
    @Html.HiddenFor(x => x.ReplaceType)
    <div class="spacebottom">
        <table class="ui table">
            <tbody>
                <tr>
                    <td class="eight wide column">
                        @{
                            var type1 = Model.ShowRevert ? "Temporary" : "Current";
                            var type2 = Model.ShowRevert ? "Current" : "Temporary";
                        }
                        <h4 class="text-centered">@type1 Face</h4>
                        @if (string.IsNullOrEmpty(Model.FaceCurrentString))
                        {
                            <div class="noface">No Face Found</div>
                        }
                        else
                        {
                            <img class="image ui centered" src="@Model.FaceCurrentString"/>
                        }
                    </td>
                    <td class="eight wide hideonupdate column text-centered">
                        <h4 class="text-centered">@type2 Face</h4>
                        @if (string.IsNullOrEmpty(Model.FaceReplaceString))
                        {
                            <div class="noface">No Face Found</div>
                        }
                        else
                        {
                            <img class="image ui centered" src="@Model.FaceReplaceString"/>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="eight wide column">
                        <h4 class="text-centered">@type1 Signature</h4>
                        @if (string.IsNullOrEmpty(Model.SignatureCurrentString))
                        {
                            <div class="nosig">No Signature Found</div>
                        }
                        else
                        {
                            <img class="image ui centered" src="@Model.SignatureCurrentString"/>
                        }
                      
                    </td>
                    <td class="eight wide hideonupdate column">
                        <h4 class="text-centered">@type2 Signature</h4>
                        @if (string.IsNullOrEmpty(Model.SignatureReplaceString))
                        {
                            <div class="nosig">No Signature Found</div>
                        }
                        else
                        {
                            <img class="image ui centered" src="@Model.SignatureReplaceString"/>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    if (Model.ShowUpdateButton)
    {
        <div class="ui large teal disabled button replace spaceright" data-type="1">Replace SIGNATURE</div>
        <div class="ui large teal disabled button replace spaceright" data-type="2">Replace FACE</div>
        <div class="ui large teal disabled button replace" data-type="3">Replace BOTH</div>
    }


    if (Model.ShowRevert)
    {
        <div class="ui hidden divider"></div>
        <div id="revertchange" class="ui fluid large disabled submit red button">Revert Change</div>
    }

    <div class="ui success message">
        <div class="header">Update Successful</div>
    </div>
    <div class="ui error message">
        <div class="header">Update Failed. Please try again later</div>
    </div>
}
