﻿@model Apex.ViewModels.DetailedRecord

<div class="container">
    <div class="grid">
        <div class="column">
            <h3>@Model.PageTitle</h3>
            <div class="ui segment">
                @Html.Partial("_DetailedSearchByFormNo")
                <div id="searchresults">
                    @Html.Partial("_DetailedBaseUpdateViewResult")
                </div>
            </div>
        </div>
    </div>
</div>