﻿@using Apex.Helpers
@model Apex.ViewModels.DetailedRecord

@using (Html.BeginForm(Model.UpdateUrl, "Amu", FormMethod.Post, new { @class = "ui update form", id = "updateform" }))
{
    @Html.HiddenFor(x => x.FormNo)
    @Html.HiddenFor(x => x.BranchCode)
    @Html.HiddenFor(x => x.Appreason)
    @Html.HiddenFor(x => x.DocType)
    <div class="spacebottom">
    <table class="ui definition table">
        <tbody>
        <tr>
            <td>Surname</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        @Html.TextBoxFor(x => x.Surname, new { name = "surname" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="five wide column">First Name</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        @Html.TextBoxFor(x => x.FirstName, new {name = "firstname"})
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Middle Name</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        @Html.TextBoxFor(x => x.MiddleName, new {name = "middlename"})
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <div class="field">
                    <select id="Sex" name="sex" class="ui genderdropdown disabled dropdown">
                        <option value="">Select Gender</option>
                        <option @(Model.Sex == "M" ? "selected" : "") value="M">Male</option>
                        <option @(Model.Sex == "F" ? "selected" : "") value="F">Female</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>Date Of Birth</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        <div id="dobcalendar" class="ui disabled calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                @Html.TextBoxFor(x => x.DateOfBirth, new { placeholder = "Date of Birth", Name = "dateofbirth" })
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>Personal No</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        @Html.TextBoxFor(x => x.PersonalNo, new {name = "personalno"})
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Birth State</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        @Html.TextBoxFor(x => x.BirthState, new {name = "birthstate"})
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Birth Town</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        @Html.TextBoxFor(x => x.BirthTown, new {name = "birthtown"})
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Title</td>
            <td>
                <div class="field">
                    <select id="Title" name="title" class="ui disabled dropdown">
                        <option value="">Select Title</option>
                        @foreach (var title in Model.Titles)
                        {
                            <option @(Model.Title?.ToLower().Trim() == title.Name.ToLower() ? "selected" : "") value="@title.Name">@title.Name</option>
                        }
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>Origin State</td>
            <td>
                <div class="field">
                    <select id="OriginState" name="originstate" class="ui disabled dropdown">
                        <option value="">Select State</option>
                        @foreach (var state in Model.States)
                        {
                            <option @(Model.OriginState?.ToLower() == state.Name.ToLower() ? "selected" : "") value="@state.Name">@state.Name</option>
                        }
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>Doc Type</td>
            <td class="clearable ui disabled">
                @Model.DocType
            </td>
        </tr>
        <tr>
            <td>Doc Page</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        <select id="DocPage" Name="docpage" class="ui disabled dropdown">
                            <option value="">Select Pages</option>
                            <option @(Model.DocPage == "0" ? "selected" : "") value="0">32 pages</option>
                            <option @(Model.DocPage == "1" ? "selected" : "") value="1">64 pages</option>
                        </select>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>App Reason</td>
            <td class="ui clearable disabled">
                @Model.Appreason
            </td>
        </tr>
        <tr>
            <td>Remarks</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        @Html.TextBoxFor(x => x.Remarks, new {Name = "remarks"})
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>No Finger</td>
            <td>
                <div class="field">
                    <div class="nofinger ui disabled perma checkbox">
                        @Html.CheckBoxFor(x => x.Nofinger, new {Name = "nofinger"})
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Enrol location Id</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        @Html.TextBoxFor(x => x.EnrolLocationId, new {Name = "enrollocationid" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Reference Id</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        @Html.TextBoxFor(x => x.ReferenceId, new {Name = "referenceid"})
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Application Id</td>
            <td>
                <div class="field">
                    <div class="ui input disabled">
                        @Html.TextBoxFor(x => x.ApplicationId, new {Name = "applicationid"})
                    </div>
                </div>
            </td>
        </tr>

        <tr class="stagecodediv">
            <td>Status</td>
            <td class="ui clearable disabled">
                @(Helper.GetStageCodeDescription(Model.StageCode))
            </td>
        </tr>
        </tbody>
    </table>
    </div>

    <div class="ui fluid large teal disabled submit button">Update Record</div>

    <div class="ui success message">
        <div class="header">Update Successful</div>
    </div>
    <div class="ui error message">
        <div class="header">Update Failed. Please try again later</div>
    </div>
}

