﻿@using Apex.Helpers
@model List<Apex.ViewModels.DetailedRecord>

<div class="ui equal width grid">
    @foreach (var record in Model)
    {
        <div class="column max400">
            <table class="ui table">
                <tbody>
                <tr>
                    <td class="eight wide column">
                        @if (string.IsNullOrEmpty(record.FaceCurrentString))
                        {
                            <div class="noface"></div>
                        }
                        else
                        {
                            <img class="image ui face centered" src="@record.FaceCurrentString"/>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="eight wide column">
                        @if (string.IsNullOrEmpty(record.SignatureCurrentString))
                        {
                            <div class="nosig"></div>
                        }
                        else
                        {
                            <img class="image ui centered signaturewidth" src="@record.SignatureCurrentString"/>
                        }

                    </td>
                </tr>
                </tbody>
            </table>
            <table class="ui definition table">
                <tbody>
                <tr>
                    <td>Form No</td>
                    <td>
                        @record.FormNo
                    </td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td>
                        @record.Surname
                    </td>
                </tr>
                <tr>
                    <td class="five wide column">First Name</td>
                    <td>
                        @record.FirstName
                    </td>
                </tr>
                <tr>
                    <td>Middle Name</td>
                    <td>
                        @record.MiddleName
                    </td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>
                        @record.Sex
                    </td>
                </tr>
                <tr>
                    <td>Date Of Birth</td>
                    <td>
                        @if (record.DateOfBirth != null)
                        {
                            @record.DateOfBirth.Value.ToString("dd/MM/yyyy")
                        }
                    </td>
                </tr>

                <tr>
                    <td>Place Of Birth</td>
                    <td>
                        @record.BirthState
                    </td>
                </tr>
                <tr>
                    <td>Title</td>
                    <td>
                        @record.Title
                    </td>
                </tr>
                <tr>
                    <td>Doc Type</td>
                    <td class="clearable ui disabled">
                        @record.DocType
                    </td>
                </tr>
                <tr>
                    <td>App Reason</td>
                    <td class="ui clearable disabled">
                        @record.AppreasonDescr
                    </td>
                </tr>
                <tr>
                    <td>Remarks</td>
                    <td>
                        @record.Remarks
                    </td>
                </tr>
                <tr>
                    <td>Enrol Time</td>
                    <td>
                        @if (record.EnrolTime != null)
                        {
                            @record.EnrolTime.Value.ToString("dd/MM/yyyy hh:mmtt").ToLower()
                        }
                    </td>
                </tr>
                <tr class="stagecodediv">
                    <td>Status</td>
                    <td class="ui clearable disabled">
                        @(Helper.GetStageCodeDescription(record.StageCode))
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="ui table borderless">
                <tbody>
                <tr>
                    <td class="ui grid">
                        @foreach (var finger in record.Fingerprints)
                        {
                            <div class="eight wide column nopadding">
                                <h4 class="text-centered blackbg">@finger.FingerprintName.Replace("L", "Left Hand ").Replace("R", "Right Hand ")</h4>
                                <img class="image ui centered max100" src="@finger.FingerprintString"/>
                            </div>

                        }
                    </td>
                </tr>
            </table>
        </div>
}
</div>
 