﻿@model Apex.ViewModels.Record

@using (Html.BeginForm(Model.SearchUrl, "Amu", FormMethod.Post, new { @class = "ui searchlocal form" }))
{
    @Html.HiddenFor(x => x.BranchCode, new { @class = "searchbranchcode", name = "searchbranchcode", id = "searchbranchcode" })
    <div class="ui ignored info message">
        <i class="info icon"></i>
        Enter Formno, Docno or at least <b>two</b> other fields
    </div>
    <div class="spacedownm">
        <div class="ui search selection dropdown selectbranch width270">
            <input type="hidden" name="branchNameCmb">
            <i class="dropdown icon"></i>
            <div class="default text">Select branch name</div>
            <div class="menu">
                @foreach (var branch in Model.Branches)
                {
                    <div class="item" data-ip="@branch.Ip|@branch.BranchName" data-name="@branch.BranchName" data-code="@branch.BranchCode">@branch.BranchName</div>
                }
            </div>
        </div>

        <div class="ui search selection dropdown selectbranchcode">
            <input type="hidden" name="branchCodeCmb">
            <i class="dropdown icon"></i>
            <div class="default text">Or select branch code</div>
            <div class="menu">
                @foreach (var branch in Model.Branches.OrderBy(x => x.BranchCode))
                {
                    <div class="item" data-ip="@branch.Ip|@branch.BranchName" data-name="@branch.BranchName" data-code="@branch.BranchCode">@branch.BranchCode</div>
                }
            </div>
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.FormNo, new { placeholder = "Enter Form Number", Name = "formno", @class = "formno" })
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.DocNo, new { placeholder = "Enter document number", Name = "docno" })
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.FirstName, new { placeholder = "Enter Firstname", Name = "firstname" })
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.Surname, new { placeholder = "Enter Surname", Name = "surname" })
        </div>
    </div>
    <div class="field">
        <select id="Gender" name="gender" class="ui genderdropdown dropdown">
            <option  value="">Select Gender</option>
            <option  @(Model.Gender == "M" ? "selected" : "") value="M">Male</option>
            <option  @(Model.Gender == "F" ? "selected" : "") value="F">Female</option>
        </select>
    </div>
    
    <div class="ui teal submit button">Search</div>
    <div class="ui error message">
        <div class="header">Invalid search details</div>
    </div>
}

