﻿@model Apex.ViewModels.Record

@using (Html.BeginForm(Model.SearchUrl, "Amu", FormMethod.Post, new {@class = "ui searchform form"}))
{
    @Html.HiddenFor(x => x.BranchCode, new {@class = "searchbranchcode", name = "searchbranchcode", id = "searchbranchcode"})
    <div class="spacedownm">
        <div class="ui search selection dropdown selectbranch width270">
            <input type="hidden" name="branchNameCmb">
            <i class="dropdown icon"></i>
            <div class="default text">Select branch name</div>
            <div class="menu">
                @foreach (var branch in Model.Branches)
                {
                    <div class="item" data-ip="@branch.Ip|@branch.BranchName" data-name="@branch.BranchName" data-code="@branch.BranchCode">@branch.BranchName</div>
                }
            </div>
        </div>

        <div class="ui search selection dropdown selectbranchcode">
            <input type="hidden" name="branchCodeCmb">
            <i class="dropdown icon"></i>
            <div class="default text">Or select branch code</div>
            <div class="menu">
                @foreach (var branch in Model.Branches.OrderBy(x => x.BranchCode))
                {
                    <div class="item" data-ip="@branch.Ip|@branch.BranchName" data-name="@branch.BranchName" data-code="@branch.BranchCode">@branch.BranchCode</div>
                }
            </div>
        </div>
    </div>
    <div class="field">
        <div class="ui action left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.DocNo, new { Name = "docno", @class="", onkeyup="ToUpperCaseF(this)", placeholder = "Enter passport number"})
            <div class="ui teal submit button">Search</div>
        </div>
    </div>
    <div class="ui error message">
        <div class="header">Invalid search details</div>
    </div>
}