﻿@using Apex.Helpers
@model List<Apex.ViewModels.CheckDate>

<table class="ui table striped">
    <thead>
    <tr>
        <th>Formno</th>
        <th>Date in Central</th>
        <th>Date in Branch</th>
        <th></th>
    </tr>
    <tbody>

    @foreach (var date in Model)
    {
        <tr style="@(date.PreviousDate != date.NewDate ? "background-color: red; color: white" : "")">
            <td>@date.Formno</td>
            <td>@date.PreviousDate</td>
            <td>@date.NewDate</td>
        </tr>
    }

    </tbody>
</table>