﻿@using Apex.Extensions
@model Apex.ViewModels.MenuModel

<div id="sideMenuSlide" class="ui vertical inverted sticky menu fixed top transition @(User.Identity.IsAuthenticated ? "" : "hidden")">
    <div class="bigtitle item">
        <a href="/">
            <i class="circular inverted configure icon"></i> Apex
            <div id="menuloader" class="ui inline loader"></div>
        </a>
    </div>
    
    <div class="item">
        <h3 class="ui white">
            <i class="user circle outline icon"></i>
            <span id="myusername">@(Model.Username)</span>
        </h3>
    </div>

    @if (Model.Claims.Any(x => x.Type.ToLower() == "usermanagement"))
    {
        <div class="item">

            <div class="ui inverted accordion">
                <div id="UserManagement" class="title">
                    <i class="dropdown icon"></i>
                    User Management
                </div>
                <div class="content">
                    <div class="menu">
                        @foreach (var claim in Model.Claims.Where(x => x.Type.ToLower() == "usermanagement"))
                        {
                            <a class="item" data-section="UserManagement" data-option="@(claim.Value)">@(claim.Value.TitleCaseToWords())</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    @if (Model.Claims.Any(x => x.Type.ToLower() == "amu"))
    {
        <div class="item">
            <div class="ui inverted accordion">
                <div id="AMU" class="title">
                    <i class="dropdown icon"></i>
                    A.M.U Tools
                </div>
                <div class="content">
                    <div class="menu">
                        @foreach (var subclass in Model.SubClasses.Where(x => x.Claims.Any()).OrderBy(x => x.SubclassName))
                        {
                            <div class="item">
                                <div class="accordion">
                                    <div class="title">
                                        <i class="dropdown icon"></i>
                                        @subclass.SubclassName
                                    </div>
                                    <div class="content">
                                        <div class="menu">
                                            @foreach (var item in subclass.Claims.OrderBy(x => x.Action))
                                            {
                                                <a class="item" data-section="AMU" data-option="@(item.Action)">@(item.Action.TitleCaseToWords())</a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="item">
        @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new {@class = "navbar-right", id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="logoutbtn"><i class="sign out icon"></i>Log out</button>
       }
    </div>
</div>