﻿@model Apex.ViewModels.MenuModel

@Styles.Render("~/content/tools")

@{
    ViewData["Title"] = "Tools";
}

<div class="tools">
    <div class="toolsbg">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    
    <div id="workspace"></div>
</div>

@Scripts.Render("~/bundles/tools")